#----
# (until Python 3.6 unsupported)
flask == 1.1.2
Werkzeug >= 1.0, <= 2.0.3
jinja2 < 3.1.0
itsdangerous <= 2.0.1  # (Werkzeug)
#----
#Werkzeug >= 2.2.3
#flask >= 2.2.3
flask-restx >= 1.1.0
flask-cors >= 3.0.9

requests >= 2.18.4
introspection >= 1.4.0

cinch_pyutils >= 0.4.0
